@model JCBlogProject.Models.Tag


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <header>
        <h1>@Model.Name </h1>
        <section id="offWhite"></section>
    </header>
    <main>
        <h1>Posts</h1>
        @foreach (var post_tag in Model.Post_Tags)
        {
            @*<a href="~/Product/Details/@post_tag.Id">@post_tag.PostId</a>*@
        <h2>@post_tag.Posts.Title</h2>
            
        <span>@post_tag.Posts.Author</span>
        <p>@post_tag.Posts.Content</p>
            <hr />
        }
        <a href="~/Tag/Index/">Return To Tag Select</a>
    </main>
</body>
</html>
